<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= data.name %></title>
</head>
<body>
  <h2><%= data.name %>の編集</h2>
  <form action="/Olympia/update/<%= data.id - 1 %>" method="POST">
    <table>
      <tr><th>項目</th><th>データ</th></tr>
      <tr><td>優勝年</td><td><input type="text" name="year" value="<%= data.year %>"></td></tr>
      <tr><td>名前</td><td><input type="text" name="name" value="<%= data.name %>"></td></tr>
      <tr><td>出身</td><td><input type="text" name="from" value="<%= data.from %>"></td></tr>
      <tr><td>身長</td><td><input type="text" name="height" value="<%= data.height %>"></td></tr>
      <tr><td>長所</td><td><input type="text" name="strengths" value="<%= data.strengths %>"></td></tr>
    </table>
    <input type="submit" values="登録">
  </form>
  <a href="/Olympia/">チャンピオン一覧に戻る</a>
</body>
</html>